<div class="modal-header">
  <a class="close" data-dismiss="modal"><b>x</b></a>
  <h3><%= "#{@bar.name} swiggers" %></h3>
</div>
<div class="modal-body well">
  <% @swigers.each do |swiger| %>
  <%#= @swigers.today.each do |swiger| %>
  <div class="span3">
  <%= swiger.user.avatar.blank? ? image_tag("UserImage.gif", style: "height: 50px;") : image_tag(swiger.user.avatar.url, style: "height: 50px;") %>
  <br/>
  <%= swiger.user.name %>
  <br/>
  <%= swiger.created_at.strftime("%v %r") %>
  </div>
  <% end %>
</div>
<div class="modal-footer">
  <a class="btn pull-right" data-dismiss="modal">Close</a>
</div>
