<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hello <%= @user.full_name %>,</p>
    <p>
      <b></b>Thanks for your request in <a href="swigbig.com">SwigBIG</a>
      <br/>
      and your Enter key: <%= @user.enter_key %>
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>

