<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to swigbig.com</h1>
    <p>Hi <%= @friend %>,</p>
    <p>
     <b><%= @user.name %></b> invite you to join <a href="swigbig.com">SwigBIG</a>
    </p>
    <p>join as member to get more advantage from Bars in your city</p>
    <br/>
    <br/>
    <p>Thanks and have a great day!</p>
  </body>
</html>

