<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You Have Convert SwigBIG Account</h1>
    <p>Hi <%= @user.name %>,</p>
    <p>
     Your new password <b><%= @new_password %></b>
    </p>
    <p>
     <a href="swigbig.com/users/sign_in">Sign In</a>
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>