/* JQT CSS OVERIDE*/
#jqt .toolbar > h1 {
    position: relative;
    margin-top: 6px;
}

#jqt .toolbar {
    background-color: rgba(102, 153, 51, 1);
    background-image: none;
    height: 40px;
}

div.rounded {
    -webkit-border-radius: 8px;
    -webkit-box-shadow:rgba(255, 255, 255, 0.15) 0 1px 0;
    border-radius: 8px;
    background-color: #555658;
    box-shadow:rgba(255, 255, 255, 0.15) 0 1px 0;
    border: 1px solid #2F3031;
    padding: 10px;
    margin: 5px 10px 10px 10px;
    color: white;
}
.rounded .span2{
    width: 30%
}
.rounded .span4{
    width: 60%
}

/* END*/
.contentButton{
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    background: #ffffff;
    border-radius: 7px;
}

.content{
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.buttonWidth{
    width: 35%;
}
.buttonWidth2{
    width:10%;
}

.header{
    background: #669933
}

.alert{
    display: none;
}
