<% @redeem_rewards.each do |reward| %>
  <tr>
    <td><%= reward.created_at.strftime("%v") %></td>
    <td>
      <b><%= reward.sent_messageable.name %></b>
      <br/>
      <b>code: </b><%= reward.coupon %>
      <br/>
      <div class="pull-left">
        <% if reward.coupon_status %>
          <b style="color: red;">Redeem</b>
        <% else %>
          <b style="color: green;">UnRedeem</b>
        <% end %>
      </div>
    </td>
    <td>
      <%= reward.reward %>
    </td>
  </tr>
<% end %>