<%= content_for :side do %>
  <div class="accordion">
    <div class="accordion-group">
      <div class="accordion-heading" style="margin-left: 40px;">
        <div class="accordion-inner">
          <a class="" data-toggle="collapse" data-target="#swig" style="color: black;"><b>Swigs</b></a>
        </div>
      </div>
      <div id="swig" class="accordion-body collapse">
        <div class="accordion-inner">

        </div>
      </div>
    </div>
  </div>
<% end %>


<ul class="tabs" data-tabs="tabs">
  <li><a href="#profile" data-toggle="tab"><h3>Profile Stats</h3></a></li>
  <li><a href="#progress" data-toggle="tab"><h3>Progress</h3></a></li>
  <li><a href="#earned" data-toggle="tab"><h3>Earned Rewards</h3></a></li>
  <li><a href="#redeemed" data-toggle="tab"><h3>Redeemed Rewards</h3></a></li>
</ul>

<div id="my-tab-content" class="tab-content">
  <div class="tab-pane active" id="profile">
    1
  </div>
  <div class="tab-pane" id="progress">
    <h4>Rewards</h4>
    <ul class="tabs" data-tabs="tabs">
      <li><a href="#loyalty" data-toggle="tab"><h4>Loyalty</h4></a></li>
      <li><a href="#popularity" data-toggle="tab"><h4>Progress</h4></a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
      <div class="tab-pane active" id="loyalty">

      </div>
      <div class="tab-pane" id="popularity">
2
      </div>
    </div>
  </div>
  <div class="tab-pane" id="earned">
    3
  </div>
  <div class="tab-pane" id="redeemed">
    <h4>Rewards</h4>
  </div>
</div>


