
<script type="text/javascript">

  $(document).ready(function(){
    // Smart Wizard
    $('#wizard').smartWizard({
      transitionEffect:'slide',
      enableAllSteps: true,
      hideButtonsOnDisabled: false
    });
    $('.actionBar').hide();

  });
</script>
<style type="text/css">
  .stepContainer .content{
    width: 650px!important;
  }
</style>

<table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 800px;">
  <tr style="width: 500px;"><td style="width: 500px;">
      <div id="wizard" class="swMain">

        <ul>
          <li>
            <a href="#stat" style="height: 30px;text-align: center;padding-top: 5px;">
              <b>Profile Stat</b>
            </a>
          </li>
          <li>
            <a href="#invite" style="height: 30px;text-align: center;padding-top: 5px;">
              <b>Invite Friends</b>
            </a>
          </li>
          <li>
            <a href="#email" style="height: 30px;text-align: center;padding-top: 5px;">
              <b>Change Email</b>
            </a>
          </li>
          <li>
            <a href="#password" style="height: 30px;text-align: center;padding-top: 5px;">
              <b>Change Password</b>
            </a>
          </li>
          <li>
            <a href="#contact" style="height: 30px;text-align: center;padding-top: 5px;">
              <b>Contact Prefrences</b>
            </a>
          </li>
          <li>
            <a href="#delete" style="height: 30px;text-align: center;padding-top: 5px;">
              <b>Delete Account</b>
            </a>
          </li>
        </ul>

        <div id="stat">
          <h2 class="StepTitle"><b>Profile Stat</b></h2>
          <div class="span4 pull-right">
            <b>Favorite Bar</b>
            <%= @top_bar.bar.name %>
          </div>
          <br/>
          <div class="span4 pull-right">
            <b>Last 5 Swigs</b>
            <% @swigers.limit(5).each do |swiger| %>
              <div class="span3">
                <b><%= swiger.bar.name %></b>
                <br/>
                <%= swiger.created_at.strftime("%d/%m/%Y") %>
              </div>
            <% end %>
          </div>
        </div>
        <div id="invite">
          <h2 class="StepTitle"><b>Summary</b></h2>

        </div>

        <div id="email">
          <h2 class="StepTitle"><b>Progress</b></h2>
          <p>afewfwafeawf</p>
        </div>
        <div id="password">
          <h2 class="StepTitle"><b>Earned Rewards</b></h2>

        </div>
        <div id="contact">
          <h2 class="StepTitle"><b>Contact Rewards</b></h2>
          <p></p>
        </div>
        <div id="delete">
          <h2 class="StepTitle"><b>Delete Account</b></h2>
          <p></p>
        </div>

      </div>
    </td></tr>
</table>



