<div data-role="controlgroup" data-type="horizontal" style="margin: 5px;width: 100%;">
  <a class="" data-role="button" onclick="window.location.href='<%= main_home_url(:mobile) %>'"  style="width: 32%;">DEALS</a>
  <%= link_to "REWARDS", users_mobile_reward_url(:mobile), "data-role" => "button", style: "width: 32%;"  %>
  <%= link_to "PROFILE", users_dashboard_url(:mobile), "data-role" => "button", style: "width: 32%;"  %>
</div>
