<div style="width: 100%; height: 100px; position: relative; background-color: #fbfbfb; border: 1px solid #b8b8b8;">
  <% if !@site_content.blank? %>
    <% if !@site_content.logos.blank? %>
      <%= image_tag(@site_content.logos.status_active.first.image_url, style: "height: 100px;") rescue nil %>
    <% else %>
      <h3 class="brand" style="color: white;">SwigBIG</h3>
    <% end %>
  <% else %>
    <h3 class="brand" style="color: white;">SwigBIG</h3>
  <% end %>
</div>