<div class="container" style="text-align: center">
  <div style="float:left;width: 10%">
    <h3>COSTOMER REWARDS</h3>
  </div>
  <div style="float:left;width: 10%">
    <h3>INNOVATIVE TIERED <br /> SWIG SPECIALS</h3>
  </div>
  <div style="float:left;width: 10%">
    <h3>INTEGRATED MARKETING</h3>
  </div>
  <div style="float:left;width: 10%">
    <h3>REDUCED EXPENSES</h3>
  </div>
</div>



