<%= simple_form_for(@gift, url: bars_create_gift_path, html: { :class => "form-horizontal", remote: true}) do |f| %>
  <div style="margin-left: -60px;">
    <%= f.input :descriptions , label: false, as: :text, input_html: { style: "width: 410px;height: 22px;"} %>
  </div>
  <div style="margin-top: -45px;">
    <%= f.submit "Add", class: "btn-success pull-right", style: "margin-left: -50px;" %>
    </div>
  <% end %>