<script type="text/javascript">
  function validate_reward_to_list(){
    if($("#reward_text_form_to_add").val() == ''){
      alert("salah");
      $("#reward_text_form_to_add").css('border', '1px solid red');
      valid_reward_to_create = false;
    }else{
      $("#reward_text_form_to_add").css('border', '1px solid black');
      valid_reward_to_create = true;
    }
    if(valid_reward_to_create){
      $('#goto_create_reward_to_list').click();
    }
  }
</script>

<b><div id="gift_notification_text" style="color: green;display: none;">Add Success!</div></b>
<br/>
<%= simple_form_for(@gift, url: bars_create_gift_path, html: { :class => "form-horizontal", remote: true}) do |f| %>
  <div style="margin-left: -60px;">
    <%= f.input :descriptions , label: false, as: :text, input_html: { style: "width: 360px;height: 22px;", id: "reward_text_form_to_add"}, required: true, include_blank: false %>
  </div>
  <div style="margin-top: -45px;">
    <%= f.submit "Add", class: "btn-success pull-right", style: "margin-left: -50px;display: none;", id: "goto_create_reward_to_list" %>
      <a class="btn btn-primary" onclick="return validate_reward_to_list()" id="">Add</a>
    </div>
  <% end %>