<script type="text/javascript">
  $(document).ready(function() {
    $("#mytags").tagit({ trigerKeys: ['enter', 'comma', 'tab']});
  });
</script>
<p>Invite your friends and your customers to increase your benefit!</p>
<p>Please write your friends email.</p>
<table>
  <%= form_tag(bars_invite_friend_by_email_path) do %>
    <%= text_field_tag(:mytags)  %>
    <%= submit_tag "invite", class: "btn-primary" %>
    <% end %>
  </table>