
<!--<div style="float:left;width: 20%;border-right: 1px solid black;padding:10px;min-height: 400px;">-->
<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Messages Menu</li>
      <li class="span1">
        <!--<a class=""  href="#bar_message" data-toggle="modal" >New</a>-->
      </li>
      <li class="span1">
        <%= link_to "Inbox", users_messages_path %>
      </li>
      <li class="span1">
        <%= link_to "Sent", sent_users_messages_path %>
      </li>
      <li class="span1">
        <%= link_to "Trash", trash_users_messages_path %>
      </li>
    </ul>
    <div style="clear: both"></div>
  </div>
  <div class="clear"></div>
</div>
