<div class="row-fluid">
  <div class="span12" style="margin-bottom: 50px;">
    <h1 style="text-align: center;">Upgrade Bar Account!</h1>
  </div>
  <div class="span1">
  </div>
  <div class="span9" >
    <fieldset class="control-group success">
      <b>Card number</b>
      <input type="text" class="input-medium" style="width: 280px;"></input>
    </fieldset>
    <div class="clearfix"></div>
    <fieldset class="control-group success">
      <b>Card number</b>
      <input type="text" class="input-prepend" style="width: 25px;" placeholder="MM"></input>
      <input type="text" class="input-medium" style="width: 40px;" placeholder="YYYY"></input>
      <b>Security code</b>
      <input type="text" class="input-medium" style="width: 100px;"></input>
    </fieldset>
    <button class="btn" style="color: green;"><b>Upgrade!</b></button>
  </div>
  <div class="span1">
  </div>
</div>
